{:paths ["src"]

 :deps
 {dorothy/dorothy {:mvn/version "0.0.7"}
  org.clojure/core.match {:mvn/version "1.0.0"}}

 :aliases
 {:dev
  {:extra-paths ["examples" "test"]
   :extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}
                ;; used in examples/simple_server.clj
                server-socket/server-socket {:mvn/version "1.0.0"}}}

  :kaocha
  {:extra-deps {lambdaisland/kaocha {:mvn/version "1.70.1086"}}}

  :kaocha-cljs
  {:extra-deps {com.lambdaisland/kaocha-cljs {:mvn/version "1.4.130"}}}

  :cljstyle
  {:replace-deps {mvxcvi/cljstyle {:mvn/version "0.15.0"}}}}}
